
<!DOCTYPE html>
<html>
<body>

<h2>HR Admin</h2>
<p>New Hire:</p>

<a href="https://www.google.com">This is a link</a>

<p>On-boarding:</p>

<a href="https://www.google.com">This is a link</a>

<p>Benefits:</p>

<a href="https://www.google.com">This is a link</a>

<p>Payroll:</p>

<a href="https://www.google.com">This is a link</a>

<p>Termination:</p>

<a href="https://www.google.com">This is a link</a>

<p>HR Reports:</p>

<a href="https://www.google.com">This is a link</a>





</body>
</html>
