
<!DOCTYPE html>
<html>
<body>

<h2 style="background-color:rgb(238, 130, 238);">HR Admin</h2>
<p style="color:SlateBlue;">New Hire:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">On-boarding:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">Benefits:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">Payroll:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">Termination:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">HR Reports:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">Manage User Accounts:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">Assign Roles:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:SlateBlue;">Help Desk:</p>

<a href="https://www.google.com">This is a link</a>





</body>
</html>
