
<!DOCTYPE html>
<html>
<body>

<h2 style="background-color:rgb(60, 179, 113);">Sales Admin</h2>
<p style="color:Orange;">Sales Reports:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:Orange;">Sales Leads:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:Orange;">Sales Demo:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:Orange;">Manage User Accounts:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:Orange;">Assign Roles:</p>

<a href="https://www.google.com">This is a link</a>

<p style="color:Orange;">Help Desk:</p>

<a href="https://www.google.com">This is a link</a>





</body>
</html>
