<!DOCTYPE html>
<html>
<body>

<h2 style="background-color:rgb(0, 0, 255);">Super Admin</h2>
<p style="color:Violet;">Global Admin:</p>

<a href="globaladmin.html">Direct to Global Admin</a>

<p style="color:Violet;">Finance Admin:</p>

<a href="financeadmin.html">Direct to Finance Admin</a>

<p style="color:Violet;">Sales Admin:</p>

<a href="salesadmin.html">Direct to Sales Admin</a>

<p style="color:Violet;">HR Admin:</p>

<a href="hradmin.html">Direct to HR Admin</a>

<p style="color:Violet;">Engineering Admin:</p>

<a href="engineeringadmin.html">Direct to Egineering Admin</a>



</body>
</html>
